<div class="container mt-5" id="header">
    <h1 align="center">青蛙國王金幾勒</h1>
    <div id="data-panel" align="center">
        <tr>
            <h2>親了 {{kissTimes}} 次了</h2>
            <img src="/assets/frogKingWait.jpeg" width="300" class="img" alt="frog king kiss">
        </tr>
    </div>
</div>
<script src="controllers/index.js"></script>
<link rel="stylesheet" href="stylesheets/style.css">