<div class="container mt-5" id="header">
    <h1 align="center">青蛙國王金幾勒</h1>
    <div id="data-panel" align="center">
        <!-- print dynamic data here-->
    </div>
</div>

<script src="./main.js"></script>
<link rel="stylesheet" href="/stylesheets/style.css">