<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mt-3">愛情註冊 / Register</h1>
            {{> message}}
            <form action="/users/register" method="POST">
                <div class="mb-3">
                    <label for="name" class="mb-2">愛情暱稱（會顯示在排行榜上）/ Nickname</label>
                    <input type="text" id="name" name="name" class="form-control" placeholder="Enter Name"
                        value="{{ name }}">
                </div>
                <div class="mb-3">
                    <label for="account" class="mb-2">愛情帳號（建議為 6 字元以上的英數組合）/ Account</label>
                    <input type="account" id="account" name="account" class="form-control" placeholder="Enter Account"
                        value="{{ account }}">
                </div>
                <div class="mb-3">
                    <label for="password" class="mb-2">愛情密碼 / Password</label>
                    <input type="password" id="password" name="password" class="form-control"
                        placeholder="Enter Password" value="{{ password }}">
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="mb-2">愛情密碼確認 / Confirm Password</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                        placeholder="Confirm Password" value="{{ confirmPassword }}">
                </div>
                <button type="submit" class="btn btn-primary btn-block">愛情註冊 / Register</button>
            </form>
            <p class="lead mt-4">
                已有愛情帳號？ <a href="/users/login">愛情登入 / Login</a>
            </p>
        </div>
    </div>
</div>